#profile-photo {
    max-width: 250px;
    padding: 20px;
    border-radius: 50%;
}

#services {
    background-color: #051835;
    color:white;
}

#portfolio {
    background-color: #3C7247
}

#gallery {
    background-color: #3C7247
}

.port-description {
    padding:30px;
}

#face-header {
    background-image: url("../img/mountains.jpg");
    opacity: .9;
}

#file-upload-form {
    background-color: #3C7247;
}

.small-projects{
    color:#3C7247;
}

#small-projects-icon {
    color:#3C7247;
}

#moviesPic {
    margin-bottom: 10;
}